{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>About The Playlist App </h2>
      <p>
        More information about the app
      </p>

      <div class="ui centered card">
  <div class="image">
    <img src=" ">
  </div>
  <div class="content">
    <a class="header"> </a>
    <div class="meta">
      <span class="date">Joined in  </span>
    </div>
    <div class="description">
        is an   living in  .
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        contacts
    </a>
  </div>
</div>


</section>